@use 'utopia-core-scss/src/utopia' as utopia;

@layer theme {
    :root {
        // Dynamic Utopia type and space scales
        $min-width: 320;
        $max-width: 1240;
        $use-viewport-width: true; // Toggle for viewport-width-based dynamism

        @include utopia.generateSpaceScale((
            "minWidth": $min-width,
            "maxWidth": $max-width,
            "minSize": 16,
            "maxSize": 18,
            "positiveSteps": (1.5, 2, 3, 4, 6),
            "negativeSteps": (0.75, 0.5, 0.25),
            "customSizes": ("s-l"),
            "prefix": "space-",
            "useViewportWidth": $use-viewport-width,
        ));

        @include utopia.generateTypeScale((
            "minWidth": $min-width,
            "maxWidth": $max-width,
            "minFontSize": 16,
            "maxFontSize": 18,
            "minTypeScale": 1.2,
            "maxTypeScale": 1.25,
            "positiveSteps": 5,
            "negativeSteps": 2,
            "prefix": "step-",
            "useViewportWidth": $use-viewport-width,
        ));

        //Fonts
        --font-body: Georgia, "Times New Roman", Times, serif;
        --font-heading: Arial, Helvetica, sans-serif;

        // Line heights
        --lh--2: 2.1;
        --lh--1: 1.8;
        --lh-0: 1.6;
        --lh-1: 1.3;
        --lh-2: 1.1;
        --lh-3: 1;
        --lh-4: 1;
        --lh-5: 1
    }

    :root,
    .light,
    [data-theme=light] {
        --lightningcss-light: initial;
        --lightningcss-dark: ;
        color-scheme: light;
        --danger: #d3003c;
        --danger-alt: #a3002f;
        --primary-1: #fefdfb;
        --primary-a1: #c0800004;
        --primary-2: #fff8ea;
        --primary-a2: #ffaa0015;
        --primary-3: #ffeecb;
        --primary-a3: #ffac0034;
        --primary-4: #ffe3b3;
        --primary-a4: #ffa2004c;
        --primary-5: #ffd799;
        --primary-a5: #ff9b0066;
        --primary-6: #ffc879;
        --primary-a6: #ff970086;
        --primary-7: #f7b768;
        --primary-a7: #f2860097;
        --primary-8: #e79e3b;
        --primary-a8: #e08100c4;
        --primary-9: orange;
        --primary-a9: orange;
        --primary-10: #e8a03c;
        --primary-a10: #e18300c3;
        --primary-11: #ac6600;
        --primary-a11: #ac6600;
        --primary-12: #4d3619;
        --primary-a12: #3a2000e6;
        --primary-surface: #fff6e5cc;
        --primary-contrast: #2e1e0a;
        --primary-indicator: orange;
        --primary-track: orange;
        --gray-1: #fcfcfd;
        --gray-a1: #00005503;
        --gray-2: #f9f9fb;
        --gray-a2: #00005506;
        --gray-3: #eff0f3;
        --gray-a3: #00104010;
        --gray-4: #e7e8ec;
        --gray-a4: #000b3618;
        --gray-5: #e0e1e6;
        --gray-a5: #0009321f;
        --gray-6: #d8d9e0;
        --gray-a6: #00073527;
        --gray-7: #cdced7;
        --gray-a7: #00063332;
        --gray-8: #b9bbc6;
        --gray-a8: #00083046;
        --gray-9: #8b8d98;
        --gray-a9: #00051d74;
        --gray-10: #80828d;
        --gray-a10: #00051b7f;
        --gray-11: #62636c;
        --gray-a11: #0002119d;
        --gray-12: #1e1f24;
        --gray-a12: #000107e1;
        --gray-surface: #fffc;
        --gray-contrast: #fff;
        --gray-indicator: #8b8d98;
        --gray-track: #8b8d98
    }

    .dark,
    [data-theme=dark] {
        --lightningcss-light: ;
        --lightningcss-dark: initial;
        color-scheme: dark;
        --danger: #d02354;
        --danger-alt: #fd316b;
        --primary-1: #14100c;
        --primary-a1: #d1000004;
        --primary-2: #1d170f;
        --primary-a2: #fd87000d;
        --primary-3: #30200b;
        --primary-a3: #fa820022;
        --primary-4: #422500;
        --primary-a4: #fd720035;
        --primary-5: #4f2e00;
        --primary-a5: #fd7f0043;
        --primary-6: #5e3c0b;
        --primary-a6: #fe960053;
        --primary-7: #734d1b;
        --primary-a7: #ffa32a69;
        --primary-8: #926323;
        --primary-a8: #fea7328b;
        --primary-9: orange;
        --primary-a9: orange;
        --primary-10: #f39a00;
        --primary-a10: #fea100f3;
        --primary-11: #ffb348;
        --primary-a11: #ffb348;
        --primary-12: #ffe2c0;
        --primary-a12: #ffe2c0;
        --primary-surface: #291d0e80;
        --primary-contrast: #2e1e0a;
        --primary-indicator: orange;
        --primary-track: orange;
        --gray-1: #111113;
        --gray-a1: #1111bb03;
        --gray-2: #19191b;
        --gray-a2: #cbcbf90b;
        --gray-3: #222325;
        --gray-a3: #d6e2f916;
        --gray-4: #292a2e;
        --gray-a4: #d1d9f920;
        --gray-5: #303136;
        --gray-a5: #d7ddfd28;
        --gray-6: #393a40;
        --gray-a6: #d9defc33;
        --gray-7: #46484f;
        --gray-a7: #dae2fd43;
        --gray-8: #5f606a;
        --gray-a8: #e0e3fd60;
        --gray-9: #6c6e79;
        --gray-a9: #e0e4fd70;
        --gray-10: #797b86;
        --gray-a10: #e3e7fd7e;
        --gray-11: #b2b3bd;
        --gray-a11: #eff0feb9;
        --gray-12: #eeeef0;
        --gray-a12: #fdfdffef;
        --gray-surface: #0000000d;
        --gray-contrast: #fff;
        --gray-indicator: #6c6e79;
        --gray-track: #6c6e79
    }

    @media (prefers-color-scheme:dark) {
        :root:not([data-theme=light]) {
            --lightningcss-light: ;
            --lightningcss-dark: initial;
            color-scheme: dark;
            --danger: #d02354;
            --danger-alt: #fd316b;
            --primary-1: #14100c;
            --primary-a1: #d1000004;
            --primary-2: #1d170f;
            --primary-a2: #fd87000d;
            --primary-3: #30200b;
            --primary-a3: #fa820022;
            --primary-4: #422500;
            --primary-a4: #fd720035;
            --primary-5: #4f2e00;
            --primary-a5: #fd7f0043;
            --primary-6: #5e3c0b;
            --primary-a6: #fe960053;
            --primary-7: #734d1b;
            --primary-a7: #ffa32a69;
            --primary-8: #926323;
            --primary-a8: #fea7328b;
            --primary-9: orange;
            --primary-a9: orange;
            --primary-10: #f39a00;
            --primary-a10: #fea100f3;
            --primary-11: #ffb348;
            --primary-a11: #ffb348;
            --primary-12: #ffe2c0;
            --primary-a12: #ffe2c0;
            --primary-surface: #291d0e80;
            --primary-contrast: #2e1e0a;
            --primary-indicator: orange;
            --primary-track: orange;
            --gray-1: #111113;
            --gray-a1: #1111bb03;
            --gray-2: #19191b;
            --gray-a2: #cbcbf90b;
            --gray-3: #222325;
            --gray-a3: #d6e2f916;
            --gray-4: #292a2e;
            --gray-a4: #d1d9f920;
            --gray-5: #303136;
            --gray-a5: #d7ddfd28;
            --gray-6: #393a40;
            --gray-a6: #d9defc33;
            --gray-7: #46484f;
            --gray-a7: #dae2fd43;
            --gray-8: #5f606a;
            --gray-a8: #e0e3fd60;
            --gray-9: #6c6e79;
            --gray-a9: #e0e4fd70;
            --gray-10: #797b86;
            --gray-a10: #e3e7fd7e;
            --gray-11: #b2b3bd;
            --gray-a11: #eff0feb9;
            --gray-12: #eeeef0;
            --gray-a12: #fdfdffef;
            --gray-surface: #0000000d;
            --gray-contrast: #fff;
            --gray-indicator: #6c6e79;
            --gray-track: #6c6e79
        }
    }
}
